@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--color);
}

html { overflow: hidden; }

body { 
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    overflow: hidden;
    scrollbar-color: var(--color) #0000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Containers */
.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    transition: transform 0.6s cubic-bezier(0.7, 0, 0.6, 1);
    position: relative;
}

.container.toggle-effect { transform: translate(0, -100%); }

.time-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    height: 100%;
    background: none;
    justify-content: center;
    align-items: center;
    transition: width 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}

.time-container.toggle-effect { width: calc(100% - min(30vw, 350px)); }

.settings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transform: translate(0, 0);
    transition: transform 0.6s cubic-bezier(0.7, 0, 0.6, 1);
    overflow-y: auto;
}

.settings-container > .title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 1em;
    background-color: var(--sidebar-background-color);
}

.settings-container.toggle-effect { transform: translate(0, -100%); }

/* Settings */
.settings-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 2em;
}

.settings-column {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

/* Settings Item */
.settings-item {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.settings-item > label {
    font-weight: bold;
    font-size: 1.2em;
}

.settings-item > label.label-input-periods {
    font-weight: normal;
    font-size: 0.8em;
}

.settings-item > label:not(.label-input-periods) { margin-bottom: 0.5em; }

select, input {
    width: 16vw;
    border: none;
    padding: 0.75em;
    margin: 0.2em 0 2em 0;
    background-color: var(--color);
    color: var(--background-color);
}

select > option {
    background-color: var(--color);
    color: var(--background-color);
}

/* Settings Buttons */
.settings {
    background: none;
    border: none;
    position: absolute;
    right: 1em;
    bottom: 1em;
    opacity: 0.7;
    transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.6, 1), transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}

.settings:hover {
    transform: rotate(180deg) translate(0, 3px);
    cursor: pointer;
    opacity: 1;
}

.settings.toggle-effect { right: calc(1em + min(30vw, 350px)); }

.settings > img { filter: brightness(var(--image-on-bg-brightness)); }

.close-settings {
    background: none;
    border: none;
    position: absolute;
    right: 1em;
    bottom: 1em;
    opacity: 0.7;
    transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.6, 1), transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
    filter: drop-shadow(0 0 10px #0009);
}

.close-settings:hover {
    transform: rotate(90deg) translate(0, 3px);
    cursor: pointer;
    opacity: 1;
}

.close-settings > img { filter: brightness(var(--image-on-bg-brightness)); }

/* Central behavior */
.time { font-size: 35vmin; text-align: left; transition: font-size 0.3s cubic-bezier(0.7, 0, 0.6, 1); }
.period { font-size: 13vmin; text-align: left; transition: font-size 0.3s cubic-bezier(0.7, 0, 0.6, 1); }
.schedule { font-size: 13vmin; text-align: left; transition: font-size 0.3s cubic-bezier(0.7, 0, 0.6, 1); }

.radial-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 10px #0002);
    transition: height 0.3s cubic-bezier(0.7, 0, 0.6, 1);
}

.time.toggle-effect { font-size: 25vmin; }
.period.toggle-effect { font-size: 10vmin; }
.schedule.toggle-effect { font-size: 10vmin; }
.radial-timer.toggle-effect { height: 70%; }

.date { font-size: 2rem; position: absolute; bottom: 1rem; left: 1rem;}

/* Right sidebar */
.right-sidebar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right-sidebar {
    position: absolute;
    right: calc(-1 * min(30vw, 350px));
    width: min(30vw, 350px);
    background-color: var(--sidebar-background-color);
    height: 100%;
    border-radius: 1em 0 0 1em;
    padding: 1em;
    transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1);
    filter: drop-shadow(0 0 10px #0009);
}

.right-sidebar.toggle-effect { right: 0; }
.right-sidebar > .title { font-weight: bold; font-size: 2rem; }

.right-sidebar-toggle {
    position: absolute;
    right: 0;
    border-radius: 6em 0 0 6em;
    width: 3em;
    height: 6em;
    border: none;
    cursor: pointer;
    background-color: var(--sidebar-toggle-background-color);
    transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1);
    filter: drop-shadow(0 0 10px #0009);
}

.right-sidebar-toggle:hover { background-color: var(--sidebar-toggle-hover-background-color); }
.right-sidebar-toggle.toggle-effect { right: min(30vw, 350px); }
.right-sidebar-toggle > img { filter: brightness(var(--image-on-toggle-brightness)); }

/* Schedule */
.sidebar-schedule { overflow: auto; height: calc(100% - 6.5em); }

.schedule-list { width: 100%; border-collapse: separate; border-spacing: 0 0.5em; }

.schedule-item-time { font-style: italic; opacity: 0.7; text-align: right; padding-right: 0.25em; font-family: inherit; }
.schedule-item-name { font-weight: bold; font-size: 1.2em; padding-left: 0.25em; font-family: inherit; }

.schedule-item { padding: 1em 0; }
.schedule-item.finished { opacity: 0.5; }
.schedule-item.current > .schedule-item-time { font-size: 1.2em; }
.schedule-item.current > .schedule-item-name { font-size: 1.5em; }

.sidebar-footer {
    position: absolute;
    bottom: 1em;
    background: var(--sidebar-background-color);
    width: 100%;
}

.sidebar-footer > select { margin: 0.25em 0; width: calc(100% - 2.3em); }

.exit {
    background: 
        linear-gradient(145deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.05)),
        rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-in-out;
    z-index: 2;
}

.exit:hover { cursor: pointer; transform: scale(1.1); box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); }
.exit:active { cursor: pointer; transform: scale(1); box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); }

.exit > .icon { margin: 1px 0 0 0; width: 20px; }

/* Mobile */
/* Leaving the sidebar */
@media (min-width: 1100px) { .mobile { display: none; } }
@media (max-width: 1100px) {
    .mobile.right-sidebar-exit {
        position: absolute;
        right: 1em;
        top: 1.5em;
        background: none;
        border: none;
        opacity: 0.7;
        transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.6, 1), transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
        filter: drop-shadow(0 0 10px #0009);
    }

    .mobile.right-sidebar-exit:hover {
        transform: rotate(90deg) translate(0, 3px);
        cursor: pointer;
        opacity: 1;
    }

    .mobile.right-sidebar-exit > img { filter: brightness(var(--image-on-bg-brightness)); }
    select, input { width: 24vw; }
}

/* Toggle effect sidebar 30vw, 350px stuff */
@media (min-width: 750px) { .settings-mobile { display: none; } }
@media (max-width: 750px) {
    .time-container.toggle-effect { width: 100%; }

    .settings { display: none; }

    .mobile.settings-mobile {
        z-index: 2;
        background: none;
        border: none;
        position: absolute;
        right: 1em;
        top: 1.5em;
        opacity: 0.7;
        transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1), opacity 0.3s cubic-bezier(0.7, 0, 0.6, 1), transform 0.3s cubic-bezier(0.7, 0, 0.6, 1);
    }

    .mobile.settings-mobile:hover {
        transform: rotate(180deg) translate(0, 3px);
        cursor: pointer;
        opacity: 1;
    }
    
    .mobile.settings-mobile.toggle-effect { right: 4em; }

    .mobile.settings-mobile > img { filter: brightness(var(--image-on-bg-brightness)); }

    .right-sidebar {
        position: absolute;
        right: -100vw;
        width: 100vw;
        background-color: var(--sidebar-background-color);
        height: 100%;
        border-radius: 1em 0 0 1em;
        padding: 1em;
        transition: right 0.3s cubic-bezier(0.7, 0, 0.6, 1);
        filter: drop-shadow(0 0 10px #0009);
    }

    .right-sidebar.toggle-effect { right: 0; }

    .right-sidebar-toggle.toggle-effect { right: 100vw; }

    .schedule-item-time { font-style: italic; opacity: 0.7; text-align: right; padding-right: 0.25em; font-family: inherit; }
    .schedule-item-name { font-weight: bold; font-size: 2em; padding-left: 0.25em; font-family: inherit; }

    .schedule-item { padding: 1em 0; }
    .schedule-item.finished { opacity: 0.5; }
    .schedule-item.current > .schedule-item-time { font-size: 1.7em; }
    .schedule-item.current > .schedule-item-name { font-size: 2.5em; }

    select, input { width: 32vw; }
}
/* Themes */
:root {
    --background-color: #f9f9f9;
    --background-image: none;
    --color: #202124;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #e0e0e0;
    --sidebar-background-color: #f2f4f8;

    --image-on-toggle-brightness: 1;
    --image-on-bg-brightness: 0;
}

[data-theme="default-light"] {
    --background-color: #f9f9f9;
    --background-image: none;
    --color: #202124;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #e0e0e0;
    --sidebar-background-color: #f2f4f8;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 0;
}

[data-theme="default-dark"] {
    --background-color: #1e1e1e;
    --background-image: none;
    --color: #f5f5f5;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #e0e0e0;
    --sidebar-background-color: #292d32;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}

[data-theme="blue-light"] {
    --background-color: #b7dfff;
    --background-image: none;
    --color: #1a1d26;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #e8edff;
    --sidebar-background-color: #a3d6ff;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 0;
}

[data-theme="blue-dark"] {
    --background-color: #1a1d26;
    --background-image: none;
    --color: #e0e7ff;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #d0daff;
    --sidebar-background-color: #2d364b;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}

[data-theme="coffee"] {
    --background-color: #47372a;
    --background-image: none;
    --color: #f5e1a4;

    --sidebar-toggle-background-color: #d1a56d;
    --sidebar-toggle-hover-background-color: #a67c39;
    --sidebar-background-color: #4a2c2a;

    --image-on-toggle-brightness: 1;
    --image-on-bg-brightness: 1;
}

[data-theme="code"] {
    --background-color: #1e1e1e;
    --background-image: none;
    --color: #00ff00;

    --sidebar-toggle-background-color: #51d442;
    --sidebar-toggle-hover-background-color: #00ff00;
    --sidebar-background-color: #2c2c2c;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}

[data-theme="space"] {
    --background-color: #000000;
    --background-image: url("https://images.pond5.com/black-empty-space-stars-dark-footage-073036484_iconl.jpeg");
    --color: #ffffff;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #d6d6d6;
    --sidebar-background-color: #19191b;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}

[data-theme="dark"] {
    --background-color: #343a40;
    --background-image: none;
    --color: #ffffff;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #d8d8d8;
    --sidebar-background-color: #2d3237;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}

[data-theme="light"] {
    --background-color: #ffffff;
    --background-image: none;
    --color: #000000;
    
    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #d8d8d8;
    --sidebar-background-color: #e8e8e8;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 0;
}

[data-theme="ocean"] {
    --background-color: none;
    --background-image: linear-gradient(to bottom, #2e8b57, #006d2c);
    --color: #ffffff;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #d1fff1;
    --sidebar-background-color: #20b2aa;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}

[data-theme="sunset"] {
    --background-color: none;
    --background-image: linear-gradient(to bottom, #ff6347, #ff4500);
    --color: #ffffff;

    --sidebar-toggle-background-color: #ffffff;
    --sidebar-toggle-hover-background-color: #ffe7d1;
    --sidebar-background-color: #ff8c00;

    --image-on-toggle-brightness: 0;
    --image-on-bg-brightness: 1;
}