@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 1em 1em 0 1em;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 1em 1em 1em;
}

.apps {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#efefef, #dee1f0);
    border: 1.5px solid #aeb2c0;
    padding: 1em;
    box-sizing: border-box;
    margin: 1em;
    border-radius: 0.5em;
    height: 10em;
    justify-content: space-around;
    align-items: center;
}

.app:hover { background-image: linear-gradient(#dee1f0, #c6cedf); cursor: pointer; }
.app:active { background-image: linear-gradient(#ced5e4, #c6cedf); cursor: pointer; }

.app-title { font-size: 36px; }
.app-subtitle { font-size: 14px; font-weight: normal; }